*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #255EE9;
}

.menu a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.logo{
    width: 100%;
    height: 10%;
}

nav ul li{
    display: inline-block;
}

.acces{
    display: inline-block;
}

/* header */
.bg-img{
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-position: center;
}


.description{
    top: 30%;
    left: 30%;
    text-align: center;
    display: inline-block;
    position: absolute;
    color: white;
    width: 49%;
}

.title{
    font-weight: bold;
    font-size: 50px;
}

.sotto-titolo{
    top: 167%;
    position: absolute;
    line-height: 25px;
}

.bottom{
    position: relative;
}


.bottom1{
    background-color: white;
    border: solid white 10px;
    text-decoration: none;
    position: absolute;
    top: 38vh;
    left: 43vw;
    color: black;
    font-size: 14px;
    border-radius: 20px;  
}

.bottom2{
    background-color: black;
    border: solid black 10px;
    text-decoration: none;
    position: absolute;
    top: 38vh;
    left: 54vw;
    color: white;
    font-size: 14px;
    border-radius: 20px;  
}
/* header */

/* main */
.section1{
    position: relative;
    height: 75vh;
}
.img-position1{
    position: absolute;
    left: 25%;
    top: 100px;
}

.title2{
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 136px;
    font-size: 40px;
    font-weight: bold;
    width: 289px;
}

.sotto-titolo2{
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 392px;
    width: 266px;
    line-height: 25px;
}

/* immagine 2 */
.section2{
    position: relative;
    height: 75vh;
    background-color: #F6F6F6;  
}

.img-position2{
    position: absolute;
    right: 25%;
    top: 100px;
}

.title3{
    display: inline-block;
    position: absolute;
    top: 136px;
    left: 25%;
    font-size: 40px;
    font-weight: bold;
    width: 289px;
}

.sotto-titolo3{
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 246px;
    width: 266px;
    line-height: 25px;
}

/* immagine3 */
.section3{
    position: relative;
    height: 75vh;   
}

.img-position3{
    position: absolute;
    left: 25%;
    top: 100px;
}

.title4{
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 136px;
    font-size: 40px;
    font-weight: bold;
    width: 289px;
}

.sotto-titolo4{
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 246px;
    width: 266px;
    line-height: 25px;
}

/* immagine 4 */
.section4{
    position: relative;
    height: 100vh;
    background-color: #F6F6F6;
}

.title5{
    display: inline-block;
    position: absolute;
    left: 35%;;
    font-size: 40px;
    font-weight: bold; 
    top: 100px;   
}

.sotto-titolo5{
    display: inline-block;
    position: absolute;
    left: 35%;
    line-height: 25px;
    top: 165px;
    width: 796px;
    text-align: center;
}